/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after{
    box-sizing: inherit;
  }
/* I have used css reset code to change the default properties of the browser. */


  /* backgroud_color */
body{
    background-color:#aad4cf;
}

.wrapper{
    background-color: #a6d2e5;
    width:80vw;
    margin: auto;
}

.banner_container-text{
    position: absolute;
    color: white;
    font-size: 5rem;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* changing the width and height of the image*/
.img_1{
   max-height: 40vh;
    min-width: 100%;
    
}

/* remove the default styling of anchor dag and changing the font. */
a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}

/* I used flex box to create a navigation bar and i also used flex properties to give equal space to all the child. */
.nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.nav div:last-child{
    border:none;
}

/* I have used this to add a grey line between navigation buttons. */
.nav>div{
    border-right: 1px solid grey;
    padding:0 10rem;
}


nav,main{
    padding-left:1rem ;
}

.content_heading{
   
   width: 80vw;
   margin: auto;
   padding: 45px 0 0 0;
}

/* I have used font weight to give boldness to the font and size to change the size of the text. */
h1{
     font-size: 45px;
     font-weight: 500;
}

.content{
    margin: auto;
    width: 80vw;
    background-color: #a6d2e5;
    padding-top: 10px;
}


.img_2{
    width: 15vw;
    margin: auto;
    
}

/* I have used float left for Positioning and formatting the content to the left side.  */
.float_element{
float: left;
padding-right: 1rem;
padding-bottom: 0.3rem;
}

.content>p{
    font-size: 22px;
}

.list_container{
    margin-top: 1rem;
}

.fst_heading{
    font-size: 38px;
    margin-bottom: 0.3rem;
    width: 25vw;
}


ul {
    list-style: none;
  }
  
 ul li::before {
    content: "\2022";
    color: black;
    font-weight: bold;
    display: inline-block; 
    width: auto;
    
  }

.sec_heading{
    font-size: 38px;
    margin-top: 25px;
    width: 25vw;
  }

/* Giving border and padding to the form */
form{
    border: 1px solid black;
    padding: 20px 15px 10px 15px;
}

/*  I used flex for Positioning and formatting of form buttons. */
.feedback_btn{

    
    display: flex;
    justify-content: space-around;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* I have used margin auto to properly assign the margin vertically and horizontally. */
#f_name{
    width: 78vw;
    margin: auto;

}

#f_email{
    width: 78vw;
    margin: auto;
}

#f_message{
    width: 78vw;
    margin: auto;
    height: 100px;
}

/* I have used text_align right to align the information to the right side of the webpage. */
footer{
 padding-top: 10px;   text-align: right;
}

