/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after{
    box-sizing: inherit;
  }

body{
    background-color:#aad4cf;
}

.wrapper{
    width:80vw;
    margin: auto;
}

.img_1{
   max-height: 40vh;
    min-width: 100%;
    
}

.text{
        position: absolute;
        color: white;
        font-size: 5rem;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
}

a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* width:100%; */
    /* padding: 5%;   */
    background-color: #a6d2e5;
}
.nav div:last-child{
    border:none;
}

.nav>div{
    border-right: 1px solid grey;
    padding:0 10rem;
}

main{background-color: beige;}

.heading{
   background-color: #a6d2e5;
   width: 80vw;
   margin: auto;
   padding: 45px 0 0 0;
}

h1{
     font-size: 45px;
     font-weight: 10px;
}

.content{
    margin: auto;
    width: 80vw;
    background-color: #a6d2e5;
    padding-top: 10px;
}


.img_2{
    width: 15vw;
    margin: auto;
    
}
.float_element{
float: left;
}

.content>p{
    margin: auto;
    width: 64vw;
    float: right;
    font-size: 22px;
}

.fst_heading{
    font-size: 38px;
    margin: 110px auto auto 20px;
    width: 25vw;
}

/* ul{
    margin-top: 15px;
    margin-left: 25px;
    list-style-type: circle;
    color: black;
}

li{
    font-size: 22px;
    
} */



ul {
    list-style: none;
  }
  
 ul li::before {
    content: "\2022";
    color: black;
    font-weight: bold;
    display: inline-block; 
    width: auto;
    margin-top: 10px;
    margin-left: 1rem;
    
  }

.sec_heading{
    font-size: 38px;
    margin: 25px auto auto 20px;
    width: 25vw;
  }


form{
    
    border: 1px solid black;
    padding: 20px 15px 10px 15px;

}

.button{
    display: flex;
    justify-content: space-around;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#f_name{
    width: 78vw;
    margin: auto;

}

#f_email{
    width: 78vw;
    margin: auto;
}

#f_message{
    width: 78vw;
    margin: auto;
    height: 100px;
}

footer{
 padding-top: 10px;   text-align: right;
}

